<main class="vision-page">
  <section class="hero-section">
    <h1>Specialist Care's Vision</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      molestiae repellat voluptatum consequatur iusto quas itaque, eius, dolorem
      inventore deserunt fugit quidem dicta delectus ea? Voluptates iusto
      temporibus corporis quae? Neque velit porro eveniet, ipsa ipsam optio
      natus nostrum id. Officiis corporis explicabo quia officia sit consequatur
      iusto obcaecati, illo sunt rem ullam itaque omnis quasi velit vitae
      aperiam animi!
    </p>
  </section>
  <div class="strategy-section p-5">
    <h2 class="text-center">Our Strategic Direction</h2>
    <p class="mb-4 text-center" style="font-size: 16px">
      Specialist care's strategic direction focuses on delivering personalized,
      high-quality support tailored to the unique needs of individuals with
      complex health or social care requirements.
    </p>
    <div class="container">
      <div class="row">
        <div class="care-container">
          <div class="row d-flex">
            <div class="col-md-6">
              <div class="image-box">
                <img src="assets/images/mission.jpg" alt="Mission Statement" />
                <div class="text-box">Mission Statement</div>
              </div>
            </div>
            <div class="col-md-6 align-content-center">
              <div class="content">
                <p class="" style="font-size: 16px">
                  Our mission is to help people improve their wellbeing and
                  reach their potential through the provision of high quality,
                  compassionate and responsive residential care.
                </p>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-md-6">
              <div class="image-box">
                <img src="assets/images/vision.jpg" alt="Vision Statement" />
                <div class="text-box">Vision Statement</div>
              </div>
            </div>
            <div class="col-md-6 align-content-center">
              <div class="content">
                <p class="" style="font-size: 16px">
                  Our vision is to help people improve their wellbeing and reach
                  their potential through the provision of high quality,
                  compassionate and responsive residential care.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-section">
    <div class="main-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="d-flex flex-column align-items-center">
              <div class="text-center">
                <h2>Contact Us</h2>
                <p>Stay in touch, keep with our latest trend and update!</p>
                <button>Contact Us</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
