<main class="vision-page">
  <section class="hero-section">
    <h1>Specialist Care's Vision</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      molestiae repellat voluptatum consequatur iusto quas itaque, eius, dolorem
      inventore deserunt fugit quidem dicta delectus ea? Voluptates iusto
      temporibus corporis quae? Neque velit porro eveniet, ipsa ipsam optio
      natus nostrum id. Officiis corporis explicabo quia officia sit consequatur
      iusto obcaecati, illo sunt rem ullam itaque omnis quasi velit vitae
      aperiam animi!
    </p>
  </section>
  <!-- <div class="story-section">
    <h2 class="text-center pt-5 pb-3">About Us</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="story-img">
          <img src="assets\images\story.jpg" alt="story section image" />
        </div>
      </div>
      <div class="col-md-6">
        <p>
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi at
            placeat ipsam consectetur dolore minima dolor commodi repellat quos
            aspernatur possimus ipsa dolorum eius, ex nemo sit. Error, expedita
            iste.
          </span>
          <br /><br />
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
            dolorem tempora iusto, voluptatem pariatur consectetur impedit quas
            nihil temporibus magni dolor, a recusandae itaque nostrum voluptas
            non fugit? Maxime, est?
          </span>
          <br /><br />
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, est.
            Ducimus adipisci veniam dolores quos. Harum perferendis aliquam
            explicabo facilis nostrum, reiciendis tenetur, dicta, sed molestias
            architecto quisquam eum repellat.
          </span>
          <br /><br />
          <span>
            At Speciality Care Limited, we stand by our vision every day,
            embracing our guiding principle:
          </span>
          <br /><br />
          <span class="fw-bold"> “Empowering Wellness, Enriching Lives” </span>
          <br /><br />
        </p>
        <div class="team-card pb-5">
          <div class="profile-img">
            <img src="https://via.placeholder.com/60" alt="Profile" />
          </div>
          <div class="team-text">
            <h5>Name</h5>
            <p>Founder & Director</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="strategy-section p-5">
    <h2 class="text-center">Our Strategic Direction</h2>
    <p class="mb-4 text-center" style="font-size: 16px">
      Specialist care's strategic direction focuses on delivering personalized,
      high-quality support tailored to the unique needs of individuals with
      complex health or social care requirements.
    </p>
    <div class="container">
      <div class="row">
        <div class="care-container">
          <div class="row d-flex">
            <div class="col-md-6">
              <div class="image-box">
                <img src="assets/images/mission.jpg" alt="Mission Statement" />
                <div class="text-box">Mission Statement</div>
              </div>
            </div>
            <div class="col-md-6 align-content-center">
              <div class="content">
                <p class="" style="font-size: 16px">
                  Our mission is to help people improve their wellbeing and
                  reach their potential through the provision of high quality,
                  compassionate and responsive residential care.
                </p>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-md-6">
              <div class="image-box">
                <img src="assets/images/vision.jpg" alt="Vision Statement" />
                <div class="text-box">Vision Statement</div>
              </div>
            </div>
            <div class="col-md-6 align-content-center">
              <div class="content">
                <p class="" style="font-size: 16px">
                  Our vision is to help people improve their wellbeing and reach
                  their potential through the provision of high quality,
                  compassionate and responsive residential care.
                </p>
              </div>
            </div>
          </div>
          <div class="image-box d-none">
            <img src="assets/images/vision3.jpg" alt="Vision Statement" />
            <div class="text-box">Vision Statement</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-section">
    <div class="main-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="d-flex flex-column align-items-center">
              <div class="text-center">
                <h2>Contact Us</h2>
                <p>Stay in touch, keep with our latest trend and update!</p>
                <button>Contact Us</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
