.news-section {
  background-color: #043927;
  padding: 0 40px 60px;

  .main-page {
    .heading {
      padding: 100px 40px 60px;

      @media (width <= 768px) {
        padding: 20px 0 0;
      }

      h1 {
        font-size: 91px;
        align-content: end;
        color: white;

        @media (width <= 768px) {
          font-size: 60px;
        }

        @media (width <= 425px) {
          font-size: 48px;
        }
      }

      p {
        max-width: 300px;
        color: white;
      }
    }

    .articles-section {
      padding: 40px;
      border-radius: 16px;
      background-color: white;

      @media (width <= 768px) {
        padding: 20px;
      }

      h2 {
        margin-top: 20px;
        font-size: 40px;
        color: #360802;
      }

      p {
        font-size: 20px;
        color: #360802;
      }

      .image-box {
        position: relative;
        max-width: 600px;

        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          display: block;
          border-radius: 10px;
        }

        .text-box {
          position: absolute;
          top: 20px;
          right: 20px;
          background-color: #2e6e59;
          color: white;
          padding: 10px;
          border-radius: 32px;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
