<main class="news-section">
  <div class="main-page">
    <div class="heading pb-5">
      <h1>Newsroom</h1>
      <p>
        Stay tuned with Specialistcare News! We will be bringing you amazing
        contents from various topics
      </p>
    </div>
    <div class="articles-section">
      <div class="row">
        <div class="col-md-3">
          <div class="image-box">
            <img src="assets/images/mission.jpg" alt="Mission Statement" />
            <div class="text-box">Mission Statement</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="image-box">
            <img src="assets/images/mission.jpg" alt="Mission Statement" />
            <div class="text-box">Mission Statement</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="image-box">
            <img src="assets/images/mission.jpg" alt="Mission Statement" />
            <div class="text-box">Mission Statement</div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="image-box">
            <img src="assets/images/mission.jpg" alt="Mission Statement" />
            <div class="text-box">Mission Statement</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
