<main class="news-section">
  <div class="main-page slide-in">
    <div class="heading pb-lg-5 d-block d-md-flex justify-content-lg-between">
      <div>
        <h1>Newsroom</h1>
        <p class="fst-italic">"Celebrating progress and sharing stories."</p>
      </div>
      <p>
        Stay up to date with our latest achievements, events, and service
        updates. Every story reflects our mission of empowering wellness and
        enriching lives.
      </p>
    </div>
    <div class="articles-section">
      <h2>Latest Articles</h2>
      <div class="row mt-lg-5 pt-lg-3">
        <div class="col-md-4">
          <a
            class="image-box"
            href="https://medium.com/@specialist_care_ltd"
            target="_blank"
          >
            <img src="assets/images/mission.jpg" alt="Mission Statement" />
            <div class="text-box">About Specialist Care</div>
          </a>
          <p class="mb-4 mb-lg-2 mt-1 mt-lg-3">
            "Supported Living by Specialist Care"
          </p>
        </div>
        <div class="col-md-4">
          <a
            class="image-box"
            href="https://medium.com/@specialist_care_ltd"
            target="_blank"
          >
            <img src="assets/images/vision.jpg" alt="Mission Statement" />
            <div class="text-box">Daily Updates</div>
          </a>
          <p class="mb-4 mb-lg-2 mt-1 mt-lg-3">"Updates on Specialist Care"</p>
        </div>
        <div class="col-md-4">
          <a
            class="image-box"
            href="https://medium.com/@specialist_care_ltd"
            target="_blank"
          >
            <img src="assets/images/field.jpg" alt="Mission Statement" />
            <div class="text-box">New features</div>
          </a>
          <p class="mb-4 mb-lg-2 mt-1 mt-lg-3">
            "New homes by Specialist Care"
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
