<main class="news-section">
  <div class="main-page slide-in">
    <div class="heading pb-5">
      <div>
        <h1>Newsroom</h1>
        <p class="fst-italic">"Celebrating progress and sharing stories."</p>
      </div>
      <p>
        Stay up to date with our latest achievements, events, and service
        updates. Every story reflects our mission of empowering wellness and
        enriching lives.
      </p>
    </div>
    <div class="articles-section">
      <h2>Latest Articles</h2>
      <div class="row mt-5 pt-3">
        <div class="col-md-4">
          <a
            class="image-box"
            href="https://medium.com/@specialist_care_ltd"
            target="_blank"
          >
            <img src="assets/images/mission.jpg" alt="Mission Statement" />
            <div class="text-box">Mission Statement</div>
          </a>
          <p class="mb-2 mt-3">"Supported Living by Speciality Care"</p>
        </div>
        <div class="col-md-4">
          <a
            class="image-box"
            href="https://medium.com/@specialist_care_ltd"
            target="_blank"
          >
            <img src="assets/images/vision.jpg" alt="Mission Statement" />
            <div class="text-box">Vision Statement</div>
          </a>
          <p class="mb-2 mt-3">"Supported Living by Speciality Care"</p>
        </div>
        <div class="col-md-4">
          <a
            class="image-box"
            href="https://medium.com/@specialist_care_ltd"
            target="_blank"
          >
            <img src="assets/images/field.jpg" alt="Mission Statement" />
            <div class="text-box">Mission Statement</div>
          </a>
          <p class="mb-2 mt-3">"Supported Living by Speciality Care"</p>
        </div>
      </div>
    </div>
  </div>
</main>
