<main class="adult-residential-section">
  <div class="about-section">
    <div class="row about-content">
      <div class="col-md-6">
        <!-- <p>About Us > Adults Residential</p> -->
        <h1>A safe place to heal, grow, and thrive.</h1>
        <div class="row img-container">
          <div class="col-md-4">
            <div class="card acorn-img">
              <img src="assets/images/acorn5.jpg" alt="Little Acorn Images" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card acorn-img">
              <img src="assets/images/acorn6.jpg" alt="Little Acorn Images" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card acorn-img">
              <img src="assets/images/acorn7.jpg" alt="Little Acorn Images" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="right-content">
          <p class="pb-0">
            Our adult residential homes provide safe, structured support for
            people aged 18 and above, including individuals with mental health
            needs, substance misuse histories, and forensic backgrounds.
          </p>
          <p class="pb-0">
            Every resident is treated with empathy and respect, supported
            equally, and encouraged to grow in confidence and independence. Our
            compassionate team is available 24/7, creating homely environments
            where people can recover and rebuild their lives.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="homes-section d-none">
    <h2 class="mb-5 pb-1 text-center">The Homes - Little Acorn</h2>
    <div class="row">
      <div class="col-md-8">
        <div class="img-container">
          <!-- <img src="assets/images/acorn.jpg" alt="Acorn Home" /> -->
          <div
            id="careCarousel"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#careCarousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#careCarousel"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#careCarousel"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="assets\images\little_acorn_home.jpg"
                  class="d-block w-100"
                  style="height: 500px"
                  alt="Care Image 1"
                  id="side-img"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets\images\acorn2.jpg"
                  class="d-block w-100"
                  style="height: 500px"
                  alt="Care Image 2"
                  id="side-img"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets\images\acorn3.jpg"
                  class="d-block w-100"
                  style="height: 500px"
                  alt="Care Image 3"
                  id="side-img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa
          modi dignissimos praesentium fuga ipsa. Impedit tenetur saepe porro
          aliquid repellat suscipit ab itaque, voluptatibus neque, voluptatem
          necessitatibus mollitia veniam.
        </p>
      </div>
    </div>
  </div>
  <div class="all-services-section" id="serviceSection">
    <h2 class="text-center pb-md-3">The Homes</h2>
    <p class="pb-5 pt-0 text-center">
      These are the adult's residential homes at Specialist Care Limited
    </p>
    <div class="container">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services text-center">
                  <img
                    class="left-img"
                    src="assets\images\little_acorn_home.jpg"
                    alt="Little Acorn Home image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">Little Acorn</h4>
                    </div>
                    <p class="text-muted all-services-p">
                      A welcoming 15-bed coastal home with en-suite bedrooms,
                      communal spaces, and a secure garden.
                    </p>
                    <ul class="list-unstyled d-none">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Secure and supportive environment
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Focus on healing, growth, and recovery
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Emphasis on empowerment
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#myCarousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#myCarousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services">
                  <img
                    class="left-img"
                    src="assets\images\coming_soon2.png"
                    alt="Coming soon image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">High Road House</h4>
                    </div>
                    <p class="text-muted all-services-p">
                      A spacious 5-bedroom farmhouse with a homely, open, and
                      large secure garden.
                    </p>
                    <ul class="list-unstyled d-none">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Trauma-informed counseling and therapy
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Behavioral and emotional support services
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        One-on-one and group sessions with licensed therapists
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#myCarousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#myCarousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services">
                  <img
                    class="left-img"
                    src="assets\images\coming_soon2.png"
                    alt="Coming soon image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">Earles Garden House</h4>
                    </div>
                    <p class="text-muted all-services-p">
                      A modern 6-bedroom home with accessibility features
                      including a stair lift and wet room.
                    </p>
                    <ul class="list-unstyled d-none">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Homework help and tutoring
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        School enrollment assistance and advocacy
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Learning assessments and individualized education plans
                        (IEPs)
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#myCarousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#myCarousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7">
                <div class="left-all-services">
                  <img
                    class="left-img"
                    src="assets\images\coming_soon2.png"
                    alt="Coming soon image"
                  />
                </div>
              </div>
              <div
                class="col col-md-5 d-flex flex-column justify-content-center"
              >
                <div class="right-all-services">
                  <div class="all-services-text mb-3">
                    <div class="d-flex align-items-center mb-3">
                      <div class="icon-circle me-2">
                        <i class="fas fa-palette text-warning"></i>
                      </div>
                      <h4 class="all-services-h4">Homesdale House</h4>
                    </div>
                    <p class="text-muted all-services-p">
                      A warm and inviting 4-bedroom home with bright bedrooms,
                      communal spaces, and a safe outdoor area.
                    </p>
                    <ul class="list-unstyled d-none">
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Financial literacy and budgeting workshops
                      </li>
                      <li class="d-flex align-items-center text-muted mb-2">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Cooking, cleaning, and home management
                      </li>
                      <li class="d-flex align-items-center text-muted">
                        <i class="bi bi-check me-2 check-icon"></i>
                        Career guidance and mentorship programs
                      </li>
                    </ul>
                  </div>
                  <div class="d-flex justify-content-end gap-3">
                    <button
                      class="carousel-control-prev"
                      type="button"
                      data-bs-target="#myCarousel"
                      data-bs-slide="prev"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-left-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"
                        />
                      </svg>
                    </button>
                    <button
                      class="carousel-control-next"
                      type="button"
                      data-bs-target="#myCarousel"
                      data-bs-slide="next"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="black"
                        class="bi bi-arrow-right-circle"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
