<nav class="navbar navbar-expand-lg fixed-top" data-aos="fade-up">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets\logo\horizontal_logo.svg" alt="specialist care logo" />
    </a>
    <button
      class="navbar-toggler shadow-none border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-start"
      style="height: 400px"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Zion Quality Care
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body d-flex justify-content-end">
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              routerLink="/about"
              >About Us</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/about">Our Vision</a>
              </li>
              <!-- <li><hr class="dropdown-divider" /></li> -->
              <li>
                <a class="dropdown-item" href="/about">Our Approach</a>
              </li>
              <!-- <li><hr class="dropdown-divider" /></li> -->
              <li>
                <a class="dropdown-item" href="/about">Values</a>
              </li>
              <!-- <li><hr class="dropdown-divider" /></li> -->
              <li>
                <a class="dropdown-item" href="/about">Meet the team</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              routerLink="/adults-residential"
              >Adults Residential</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/adults-residential"
                  >About (24/7 Supervised Care etc)</a
                >
              </li>
              <!-- <li><hr class="dropdown-divider" /></li> -->
              <li>
                <a class="dropdown-item" href="/adults-residential"
                  >The homes - Little Acorns</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              routerLink="/childrens-residential"
              >Children's Residential</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/childrens-residential">About</a>
              </li>
              <!-- <li><hr class="dropdown-divider" /></li> -->
              <li>
                <a class="dropdown-item" href="/childrens-residential"
                  >The homes - Topaz House</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              routerLink="/supported-living"
              >Supported Living</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/supported-living">About</a>
              </li>
              <!-- <li><hr class="dropdown-divider" /></li> -->
              <li>
                <a class="dropdown-item" href="/supported-living">The homes</a>
              </li>
            </ul>
          </li>
          <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              routerLink="/"
              >Our Homes</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Little Acorn</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"
                  >Norwich Support Living Home</a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Child Residential Home</a>
              </li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Join our team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
