.navbar {
  backdrop-filter: blur(22px);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 10px #0000004d;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.02);

  @media (width > 992px) {
    margin: 20px;
  }

  .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }

  .navbar-brand img {
    padding-left: 5px;
    height: 50px;
  }

  .nav-item {
    padding-right: 10px;

    .nav-link {
      color: #043927 !important;
      font-size: 16px !important;
      position: relative;
      font-weight: 500;
      cursor: pointer;

      @media (width <= 1024px) {
        font-size: 14px !important;
      }

      &.nav-link:hover,
      &.nav-link.active {
        color: #000 !important;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #519259;
        visibility: hidden;
        transition: 0.3s ease-out;
      }

      &:hover::before,
      &.active::before {
        width: 100%;
        visibility: visible;
      }
    }

    .dropdown-menu {
      padding-top: 15px;
      border-radius: 15px;
      background-color: rgba(255, 255, 255, 0.9);

      .dropdown-item {
        color: #043927;

        &.dropdown-item:hover {
          color: gray;
          border-radius: 5px;
        }

        &.dropdown-item:active {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
    }
  }
}

.navbar.sticky {
  display: none;
}

@media (max-width <= 1024px) {
  .offcanvas-body .nav-link:hover,
  .nav-link.active {
    color: #000 !important;
  }

  .navbar-nav {
    justify-content: center;
    align-items: center;

    .nav-link::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #519259;
      visibility: hidden;
      transition: 0.3s ease-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  }
}
