<nav class="navbar navbar-expand-lg" data-aos="fade-up">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="assets\logo\horizontal_logo.svg" alt="specialist care logo" />
    </a>
    <button
      class="navbar-toggler shadow-none border-0"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-start"
      style="height: 400px"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          Zion Quality Care
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="offcanvas-body d-flex justify-content-start justify-content-lg-end"
      >
        <ul class="navbar-nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              (click)="navigate($event, '/about')"
              >About Us</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/about/values">Our Values</a>
              </li>
              <li>
                <a class="dropdown-item" href="/about/approach">What we do</a>
              </li>
              <!-- For Now -->
              <li class="d-none">
                <a class="dropdown-item" href="/about/meet-the-team"
                  >Meet the team</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              (click)="navigate($event, '/adults-residential')"
              >Adults Residential</a
            >
            <ul class="dropdown-menu">
              <li>
                <a
                  class="dropdown-item"
                  href="/adults-residential/little-acorns"
                  >Little Acorns</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="/adults-residential/high-road-house"
                  >High Road House</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="/adults-residential/earles-garden-house"
                  >Earles Garden House</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item"
                  href="/adults-residential/homesdale-house"
                  >Homesdale House</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              (click)="navigate($event, '/childrens-residential')"
              >Children's Residential</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/childrens-residential/topaz"
                  >Topaz House</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              (click)="navigate($event, '/supported-living')"
              >Supported Living</a
            >
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/supported-living/fernwood"
                  >Fernwood House</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/join-team">Join our team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
