<main class="adult-residential-section">
  <div
    id="carouselcaptions"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselcaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselcaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselcaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselcaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselcaptions"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselcaptions"
        data-bs-slide-to="5"
        aria-label="Slide 6"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets\images\topaz.JPG"
          class="d-block w-100"
          alt="specialist care limited"
          loading="lazy"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to Specialist Care's Childrens Residential Home</h1>
        </div>
      </div>
      <!-- <div class="carousel-item">
        <img
          src="assets\images\little_acorn2.jpg"
          class="d-block w-100"
          alt="specialist care limited"
          loading="lazy"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to Specialist Care's Adults Residential</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets\images\acorn.jpg"
          class="d-block w-100"
          alt="specialist care limited"
          loading="lazy"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to Specialist Care's Adult Residential</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets\images\acorn2.jpg"
          class="d-block w-100"
          alt="specialist care limited"
          loading="lazy"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to Specialist Care's Adult Residential</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets\images\acorn3.jpg"
          class="d-block w-100"
          alt="specialist care limited"
          loading="lazy"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to Specialist Care's Adult Residential</h1>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="assets\images\acorn4.jpg"
          class="d-block w-100"
          alt="specialist care limited"
          loading="lazy"
        />
        <div class="carousel-caption d-none d-md-block">
          <h1>Welcome to Specialist Care's Adult Residential</h1>
        </div>
      </div> -->
    </div>
  </div>
  <div class="about-section">
    <div class="row about-content">
      <div class="col-md-6">
        <p>About Us > Childrens Residential</p>
        <h1>Topaz Home</h1>
        <div class="row img-container">
          <div class="col">
            <div class="card acorn-img">
              <img src="assets/images/topaz.JPG" alt="Topaz Home Images" />
            </div>
          </div>
          <!-- <div class="col-md-4">
            <div class="card acorn-img">
              <img src="assets/images/acorn6.jpg" alt="Little Acorn Images" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="card acorn-img">
              <img src="assets/images/acorn7.jpg" alt="Little Acorn Images" />
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="right-content">
          <p class="pb-0">
            We are proud to deliver specialist residential care supporting
            people with various needs to help them lead the highest quality of
            life. We are focused on providing person-centred support, which we
            achieve by asking about and understanding people’s wants, needs,
            dreams and aspirations.
          </p>
          <p class="pb-0">
            Our service aims to provide a safe and homely environment that
            promotes empowerment, independence and choice, whilst enhancing our
            service users’ daily living skills, enabling individuals to move on
            to a less supported setting in the future.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="homes-section">
    <h2 class="mb-5 pb-1 text-center">The Homes - Topaz</h2>
    <div class="row">
      <div class="col-md-8">
        <div class="img-container">
          <!-- <img src="assets/images/acorn.jpg" alt="Acorn Home" /> -->
          <div
            id="careCarousel"
            class="carousel slide carousel-fade"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#careCarousel"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#careCarousel"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#careCarousel"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="assets\images\topaz.JPG"
                  class="d-block w-100"
                  style="height: 500px"
                  alt="Care Image 1"
                  id="side-img"
                />
              </div>
              <!-- <div class="carousel-item">
                <img
                  src="assets\images\acorn2.jpg"
                  class="d-block w-100"
                  style="height: 500px"
                  alt="Care Image 2"
                  id="side-img"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="assets\images\acorn3.jpg"
                  class="d-block w-100"
                  style="height: 500px"
                  alt="Care Image 3"
                  id="side-img"
                />
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-items-center">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos culpa
          modi dignissimos praesentium fuga ipsa. Impedit tenetur saepe porro
          aliquid repellat suscipit ab itaque, voluptatibus neque, voluptatem
          necessitatibus mollitia veniam.
        </p>
      </div>
    </div>
  </div>
</main>
