<main class="childrens-residential-section">
  <div class="about-section">
    <div class="row about-content slide-in">
      <div class="col-md-6">
        <h1>Nurturing homes where childhood is celebrated.</h1>
        <div class="row img-container">
          <div class="col">
            <div class="card acorn-img">
              <img
                src="assets/images/houses/topaz.jpg"
                alt="Topaz Home Images"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center pt-md-0 pt-3">
        <div class="right-content">
          <p class="pb-0">
            We provide safe, stable, and nurturing homes for young people aged
            10–18 with emotional, behavioural, and developmental needs.
          </p>
          <p class="pb-0">
            Every child is supported with compassion and guided by our values of
            <b>care, respect, and empathy.</b> With personalised support plans,
            strong partnerships with families and schools, and Ofsted-regulated
            services, we focus on resilience, wellbeing, and brighter futures.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="all-services-section bg-light slide-in" id="serviceSection">
    <h2 class="text-center">The Homes</h2>
    <p class="pb-2 pt-0 text-center">
      This is the children's residential home at Specialist Care Limited
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="left-all-services text-center">
            <img
              class="left-img"
              src="assets\images\houses\topaz.jpg"
              alt="Little Acorn Home image"
            />
          </div>
        </div>
        <div class="col col-md-5 d-flex flex-column justify-content-center">
          <div class="right-all-services">
            <div class="all-services-text mb-3">
              <div class="d-flex align-items-center mb-3">
                <div class="icon-circle me-2">
                  <i class="fas fa-palette text-warning"></i>
                </div>
                <h4 class="all-services-h4">Topaz House</h4>
              </div>
              <p class="text-muted all-services-p">
                A cheerful 4-bedroom home designed for children who need a safe,
                nurturing place to call their own. With spacious bedrooms, cosy
                communal areas, and a secure garden, Topaz House is a place
                where childhood is celebrated, friendships are built, and young
                people can thrive.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-accreditation [isCQC]="isCQC" [isOfsted]="isOfsted"></app-accreditation>
</main>
