.little-acorn-page {
  .about-section {
    padding: 80px 40px;
    color: white;
    position: relative;
    z-index: -1;

    @media (min-width: 768px) and (max-width: 425px) {
      height: 70vh;
      padding: 40px;
    }

    @media (width <= 768px) {
      padding: 40px;
    }

    p {
      font-size: 16px;
      padding-bottom: 30px;
    }

    h1 {
      font-size: 60px;
      font-weight: bold;
    }

    .img-container {
      margin-top: 30px;

      .acorn-img {
        border-radius: 2rem;
        border: none;
        overflow: hidden;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

        img {
          height: 300px;
          object-fit: cover;
        }
      }
    }
  }

  .homes-section {
    background-color: #f0fdf4;
    padding: 60px 40px;

    .image-box {
      position: relative;
      max-width: 400px;
      margin: 10px;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        border-radius: 10px;
      }

      .text-box {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: #2e6e59;
        color: white;
        padding: 15px 20px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      border-radius: 50px;
      background-color: #2e6e59;
      padding: 25px;
      position: absolute;
    }

    .carousel-control-next-icon {
      right: 20px;
    }

    .carousel-control-prev-icon {
      left: 30px;
    }
  }

  .contact-section {
    padding: 30px;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.06);

    .main-container {
      border-radius: 8px;
      backdrop-filter: blur(22px);
      background: rgba(255, 255, 255, 0.06);
      border: 2px solid white;
      padding: 60px 20px;

      h2 {
        font-size: 48px;
        font-weight: 600;
        line-height: 44px;
        color: white;
        padding-bottom: 10px;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      p {
        color: white;
        padding-bottom: 10px;
      }

      button {
        border: none;
        padding: 10px;
        border-radius: 6px;
        a {
          color: #043927;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
