<main class="about-page">
  <div class="hero-section-container">
    <div class="hero-section">
      <div class="row d-flex">
        <div class="hero-text">
          <h1 class="p-0 m-0">About Us</h1>
          <p class="p-design pt-0 text-center">
            We are proud to deliver specialist residential care supporting
            people with various needs to help them lead the highest quality of
            life. We are focused on providing person-centred support, which we
            achieve by asking about and understanding people’s wants, needs,
            dreams and aspirations.
          </p>
          <div class="image-row">
            <img src="assets\images\little_acorn2.jpg" alt="Team working" />
            <img
              src="assets\images\little_acorn_home.jpg"
              alt="Team discussion"
            />
            <img src="assets\images\bg_img.png" alt="Team presenting" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strategy-section p-5">
    <h2 class="text-center">Our Strategic Direction</h2>
    <p class="mb-4 text-center" style="font-size: 16px">
      Specialist care's strategic direction focuses on delivering personalized,
      high-quality support tailored to the unique needs of individuals with
      complex health or social care requirements.
    </p>
    <div class="container">
      <div class="row">
        <div class="care-container">
          <div class="row d-flex">
            <div class="col-md-6">
              <div class="image-box">
                <img src="assets/images/mission.jpg" alt="Mission Statement" />
                <div class="text-box">Mission Statement</div>
              </div>
            </div>
            <div class="col-md-6 align-content-center">
              <div class="content">
                <p class="" style="font-size: 16px">
                  Our mission is to help people improve their wellbeing and
                  reach their potential through the provision of high quality,
                  compassionate and responsive residential care.
                </p>
              </div>
            </div>
          </div>
          <div class="row d-flex">
            <div class="col-md-6">
              <div class="image-box">
                <img src="assets/images/vision.jpg" alt="Vision Statement" />
                <div class="text-box">Vision Statement</div>
              </div>
            </div>
            <div class="col-md-6 align-content-center">
              <div class="content">
                <p class="" style="font-size: 16px">
                  Our vision is to help people improve their wellbeing and reach
                  their potential through the provision of high quality,
                  compassionate and responsive residential care.
                </p>
              </div>
            </div>
          </div>
          <div class="image-box d-none">
            <img src="assets/images/vision3.jpg" alt="Vision Statement" />
            <div class="text-box">Vision Statement</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="approach-section">
    <div class="image-overlay">
      <div class="approach-content">
        <h2>Our Approach</h2>
      </div>
    </div>
  </div> -->

  <section class="about-section pt-5 mt-3 mb-5" id="aboutSection">
    <h2 class="text-center pb-0 pb-md-5 mb-3">Our Approach</h2>
    <!-- <p class="text-center pb-0 pb-md-5 mb-3">
      At Zion Quality Care, we are more than just a care provider—we are a
      family committed to creating a safe, nurturing, and empowering environment
      for every youth entrusted to us.
    </p> -->
    <div class="row mb-4 mx-3 g-3">
      <div class="col-md-6 p-0 pe-md-3">
        <div class="box">
          <div class="feature-icon yellow">
            <i class="bi bi-person"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Individualized Support Plans</h3>
            <p>
              By working to an individual plan of support that has been agreed
              with the service user, we promote and increase their independence.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="box">
          <div class="feature-icon pink"><i class="bi bi-heart"></i></div>
          <div class="feature-text">
            <h3 class="text-dark">Positive Behaviour Support</h3>
            <p>
              Through PBS, we empower individuals and improve lives by working
              collaboratively with families and continuously developing our
              skilled staff.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0 pe-md-3">
        <div class="box">
          <div class="feature-icon blue">
            <i class="bi bi-people-fill"></i>
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Community Access</h3>
            <p>
              We support service users to access all community services
              available to them, ensuring they have trained and competent staff
              providing support.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="box">
          <div class="feature-icon green">
            <!-- <i class="bi bi-backpack"></i> -->
            <img src="assets/images/independenceIcon.png" alt="" />
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Promoting Independence</h3>
            <p>
              We work with each service user to promote and, where possible,
              increase their independence. Our person-centered approach focuses
              on building life skills and confidence, empowering individuals to
              take an active role in their daily lives.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="box">
          <div class="feature-icon purple">
            <!-- <i class="bi bi-clock"></i> -->
            <img src="assets/images/trained.png" alt="" />
          </div>
          <div class="feature-text">
            <h3 class="text-dark">Trained and Competent Staff</h3>
            <p>
              We ensure that all support is provided by trained and competent
              staff. Our team members undergo continuous professional
              development to stay current with best practices and specialized
              support techniques.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="values-section">
    <h2 class="text-center">Our Values</h2>

    <div class="row values-row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <div class="text-center text-md-start">
          <h3 class="mb-3">Empowering...</h3>
          <p class="mb-0 mb-md-5 pb-3">
            At speciality care, Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Reprehenderit suscipit beatae harum non porro
            assumenda consequuntur nemo explicabo libero. Laborum temporibus
            nihil ducimus et magni, magnam enim natus totam exercitationem.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-3">
          <div class="col-md-6" *ngFor="let item of services">
            <div class="service-card">
              <img [src]="item.icon" [alt]="item.heading" />
              <h5>{{ item.heading }}</h5>
              <p>
                {{ item.message }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="team-section">
    <h2 class="text-center">Meet the Team</h2>
    <div class="container my-5">
      <div class="row g-4">
        <div class="col-md-4">
          <div class="card sponsorship-card">
            <img
              src="assets/images/elderly.png"
              class="card-img-top"
              alt="West Ham United F.C."
            />
            <div class="card-body sponsorship-info west-ham-bg">
              <div class="d-flex align-items-center">
                <!-- <img
                  src="path/to/west-ham-logo.png"
                  alt="West Ham Logo"
                  class="sponsorship-logo me-3"
                /> -->
                <p class="mb-0">Head of <br />Adults Residential Care</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card sponsorship-card">
            <img
              src="assets/images/bg5.png"
              class="card-img-top"
              alt="Legia Warsaw"
            />
            <div class="card-body sponsorship-info legia-bg">
              <div class="d-flex align-items-center">
                <!-- <img
                  src="assets/images/legia-logo.png"
                  alt="Legia Warsaw Logo"
                  class="sponsorship-logo me-3"
                /> -->
                <p class="mb-0">Head of<br />Children's residential care</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card sponsorship-card">
            <img
              src="assets/images/counselling3.jpg"
              class="card-img-top"
              alt="Brand Ambassadors"
            />
            <div class="card-body sponsorship-info brand-ambassador-bg">
              <div class="d-flex align-items-center">
                <!-- <img
                  src="path/to/brand-ambassadors-logo.png"
                  alt="Brand Ambassadors Logo"
                  class="sponsorship-logo me-3"
                /> -->
                <p class="mb-0">
                  Managing Director of <br />
                  Speciality Care
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
