.about-us-page {
  overflow: hidden;

  h2 {
    font-size: 48px;

    @media (width < 768px) {
      font-size: 36px;
    }
  }

  .hero-section-container {
    height: 50vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    align-items: center;

    &.hero-section-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url("/assets/images/about/hero-bg3.jpg") no-repeat center;
      background-size: cover;
      transform: scaleX(-1);
      z-index: -1;
    }

    .hero-text {
      padding: 0 20px;
      text-align: center;
      color: #ffff;
      z-index: -1;

      h1 {
        font-size: 60px;
        font-weight: 600;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);

        @media (width < 768px) {
          font-size: 40px;
        }
      }

      p {
        font-size: 18px;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);

        @media (width < 425px) {
          font-size: 16px;
        }
      }
    }
  }

  .story-section {
    background-color: #043927;
    color: whitesmoke;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);

    h2 {
      font-size: 48px;
    }

    @media (width < 768px) {
      p {
        padding: 0 20px;
      }
    }

    .story-img {
      margin-bottom: 100px;
      img {
        height: 100%;
        width: 100%;
        object-fit: inherit;
      }
    }

    .team-card {
      display: flex;
      align-items: center;
      gap: 12px;

      .profile-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid #d06224;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .team-text {
        h5 {
          font-weight: 700;
          margin-bottom: 0;
          color: white;
        }
        p {
          margin-bottom: 0;
          color: wheat;
        }
      }

      @media (width < 768px) {
        padding: 0 20px;
      }
    }
  }

  .strategy-section {
    background-color: #ecfae5;

    .care-container {
      display: flex;
      flex-direction: column;
      justify-content: start;

      @media (width < 768px) {
        padding-top: 20px;
      }
    }

    .image-box {
      position: relative;
      max-width: 600px;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        border-radius: 10px;
      }

      .text-box {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: #2e6e59;
        color: white;
        padding: 15px 20px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .contact-section {
    padding: 30px;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.06);

    .main-container {
      border-radius: 8px;
      backdrop-filter: blur(22px);
      background: rgba(255, 255, 255, 0.06);
      border: 2px solid white;
      padding: 60px 20px;

      h2 {
        font-size: 48px;
        font-weight: 600;
        line-height: 44px;
        color: white;
        padding-bottom: 10px;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      p {
        color: white;
        padding-bottom: 10px;
      }

      button {
        border: none;
        padding: 10px;
        border-radius: 6px;
        color: #043927;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
