<main class="home-page">
  <!-- <section class="cover-section">
    <div class="left-section">
      <h1>Empowering wellness,<br />enriching lives...</h1>
      <p>
        At Specialist Care, we understand that every person wants to live their
        life to the fullest. Our aim is to boost their confidence and
        self-esteem so that they can equally participate in activities. We take
        their choices into account and make sure they get what they want.
        Helping individuals feel better through our services is our priority.
      </p>
      <button>Learn More</button>
    </div>
    <div class="right-section">
      <img src="assets/images/bg_img.png" alt="" />
    </div>
  </section> -->
  <section class="hero-section">
    <h1>Empowering wellness, enriching lives...</h1>
    <p>
      At Specialist Care, we understand that every person wants to live their
      life to the fullest. Our aim is to boost their confidence and self-esteem
      so that they can equally participate in activities. We take their choices
      into account and make sure they get what they want. Helping individuals
      feel better through our services is our priority.
    </p>
  </section>
  <section class="welcome-section bg-light pt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="left-section">
          <img
            src="assets\images\full_bg.png"
            alt="children playing in the field"
          />
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="right-section d-flex flex-column">
          <h1 class="text-center pb-3 pb-md-4 m-0 pt-3 pt-md-0">
            Welcome to Speciality Care
          </h1>
          <p class="mb-2 mb-md-0">
            At Specialist Care Ltd, we provide more than care - we create safe,
            supportive, and nurturing homes where people can flourish. Our
            values of
            <b>empathy, respect, equality, care, and independence</b> shape
            everything we do. Whether supporting children, young people, or
            adults, we focus on dignity, empowerment, and brighter futures.
          </p>
          <!-- <p>
            At Specialist Care Ltd, we are committed to providing safe,
            supportive, and nurturing environments for those in need. We believe
            in empowerment, dignity, and holistic care, ensuring that every
            individual receives the support they need to rebuild their lives.
            Our compassionate team works tirelessly to create a secure, healing
            space where residents can regain stability, independence, and hope
            for the future.
          </p> -->
        </div>
      </div>
    </div>
  </section>
  <section class="quick-link-section p-5 d-none">
    <h2 class="text-center">Quick Access</h2>
    <p class="mb-4 text-center" style="font-size: 16px">
      Navigate to the various sections in specialist care to get an insight to
      the services we offer.
    </p>
    <div class="row pb-3">
      <div class="col-md-3">
        <div class="card shadow-sm">
          <div class="card-body d-flex align-items-center">
            <div
              class="icon-wrapper d-flex align-items-center justify-content-center"
            >
              <img src="assets/logo/about-us.png" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="card-title mb-1">About Us</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm">
          <div class="card-body d-flex align-items-center">
            <div
              class="icon-wrapper d-flex align-items-center justify-content-center"
            >
              <img src="assets/logo/residential-home.png" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="card-title mb-1">Adult's Residential</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm">
          <div class="card-body d-flex align-items-center">
            <div
              class="icon-wrapper d-flex align-items-center justify-content-center"
            >
              <img src="assets/logo/childrens-home.png" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="card-title mb-1">Children's Residential</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card shadow-sm">
          <div class="card-body d-flex align-items-center">
            <div
              class="icon-wrapper d-flex align-items-center justify-content-center"
            >
              <img src="assets/logo/support-house.png" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="card-title mb-1">Supported Living</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body d-flex align-items-center">
            <div
              class="icon-wrapper d-flex align-items-center justify-content-center"
            >
              <img src="assets/logo/news.png" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="card-title mb-1">News</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body d-flex align-items-center">
            <div
              class="icon-wrapper d-flex align-items-center justify-content-center"
            >
              <img src="assets/logo/career.png" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="card-title mb-1">Join Our Team</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body d-flex align-items-center">
            <div
              class="icon-wrapper d-flex align-items-center justify-content-center"
            >
              <img src="assets/logo/contact.png" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="card-title mb-1">Contact</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="values-section d-none">
    <div class="row">
      <div class="col-md-6">
        <div class="left-section">
          <h2 class="text-center pt-5 pb-3">Our Approach</h2>
          <p>
            <span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi at
              placeat ipsam consectetur dolore minima dolor commodi repellat
              quos aspernatur possimus ipsa dolorum eius, ex nemo sit. Error,
              expedita iste.
            </span>
            <br /><br />
            <span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus dolorem tempora iusto, voluptatem pariatur consectetur
              impedit quas nihil temporibus magni dolor, a recusandae itaque
              nostrum voluptas non fugit? Maxime, est?
            </span>
            <br /><br />
            <span>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae,
              est. Ducimus adipisci veniam dolores quos. Harum perferendis
              aliquam explicabo facilis nostrum, reiciendis tenetur, dicta, sed
              molestias architecto quisquam eum repellat.
            </span>
            <br /><br />
            <span>
              At Speciality Care Limited, we stand by our vision every day,
              embracing our guiding principle:
            </span>
            <br /><br />
            <span class="fw-bold" style="color: #043927">
              “Empowering Wellness, Enriching Lives”
            </span>
            <br /><br />
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="right-section">
          <img src="assets/images/home/approach.jpeg" alt="approach section" />
        </div>
      </div>
    </div>
  </section>
  <section class="strategy-section p-5">
    <h2 class="text-center">Our Strategic Direction</h2>
    <p class="mb-4 text-center" style="font-size: 16px">
      Specialist care's strategic direction focuses on delivering personalized,
      high-quality support tailored to the unique needs of individuals with
      complex health or social care requirements.
    </p>
    <div class="container">
      <div class="row">
        <div class="care-container">
          <div class="row d-flex">
            <div class="col-md-6">
              <div class="image-box">
                <img src="assets/images/mission.jpg" alt="Mission Statement" />
                <div class="text-box">Mission Statement</div>
              </div>
            </div>
            <div class="col-md-6 align-content-center">
              <div class="content">
                <p class="" style="font-size: 16px">
                  Our mission is to help people improve their wellbeing and
                  reach their potential through the provision of high quality,
                  compassionate and responsive residential care.
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="row d-flex">
            <div class="col-md-6">
              <div class="image-box">
                <img src="assets/images/vision.jpg" alt="Vision Statement" />
                <div class="text-box">Vision Statement</div>
              </div>
            </div>
            <div class="col-md-6 align-content-center">
              <div class="content">
                <p class="" style="font-size: 16px">
                  Our vision is to help people improve their wellbeing and reach
                  their potential through the provision of high quality,
                  compassionate and responsive residential care.
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <div class="values-section">
    <h2 class="text-center">Our Values</h2>
    <div class="row values-row">
      <div class="col">
        <div class="row g-3">
          <div class="col-md-4" *ngFor="let item of services">
            <div class="service-card">
              <img [src]="item.icon" [alt]="item.heading" />
              <h5>{{ item.heading }}</h5>
              <p>
                {{ item.message }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-home-section p-5">
    <h2 class="text-center pb-3">Our Featured Homes</h2>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let group of [].constructor(totalSlides); let i = index"
          [ngClass]="{ active: i === 0 }"
        >
          <div class="row">
            <div
              class="col-md-4"
              *ngFor="let image of count.slice(i * 3, i * 3 + 3)"
            >
              <div class="image-box">
                <img [src]="image.src" alt="Vision Statement" />
                <div class="text-box">{{ image.name }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
        (click)="prev()"
        [disabled]="activeIndex === 0"
      >
        <span
          class="carousel-control-prev-icon bg-black"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
        (click)="next()"
        [disabled]="activeIndex === totalSlides - 1"
      >
        <span
          class="carousel-control-next-icon bg-black"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</main>
