<!-- <div class="image-container blue-fade">
  <div class="content"> -->
<!-- Your content here -->
<!-- </div>
</div> -->

<!-- <div class="image-container green-fade">
  <div class="content"> -->
<!-- Your content here -->
<!-- </div>
</div> -->
<div class="hero-section-container">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-5 my-auto ms-3">
        <h1>Empowering Wellness and Enriching Lives</h1>
      </div>
    </div>
  </div>
  <!-- <div class="hero-section">
    <div class="row d-flex">
      <div class="hero-text">
        <h1 class="p-0 m-0 text-center">    
          Building Strong Foundations and Nurturing Bright Futures
        </h1>
        <p class="p-design pt-0 text-center">
          Helping youths grow with love, learning, and laughter.
        </p> -->
  <!-- <button (click)="goToAbout(s)">Learn More</button> -->
  <!-- </div>
    </div>
  </div> -->
</div>
