.home-page {
  overflow: hidden;
  h2 {
    font-size: 48px;

    @media (width < 768px) {
      font-size: 36px;
    }
  }

  .hero-section-container {
    height: 70vh;
    overflow: hidden;
    background-size: cover;
    display: flex;
    align-items: center;

    &.hero-section-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url("/assets/images/home/cover_inspo2.jpg") no-repeat center;
      background-size: cover;
      transform: scaleX(-1);
      z-index: -1;
    }

    .hero-text {
      padding: 0 20px;
      text-align: center;
      color: #ffff;
      z-index: -1;

      h1 {
        font-size: 60px;
        font-weight: 600;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);

        @media (width < 768px) {
          font-size: 40px;
        }

        @media (width <= 425px) {
          font-size: 32px;
        }
      }

      p {
        font-size: 18px;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);

        @media (width < 425px) {
          font-size: 16px;
        }
      }
    }
  }

  .welcome-section {
    .left-section {
      border-top-left-radius: 10px;

      img {
        border-top-right-radius: 20rem;
        width: 100%;
        object-fit: cover;

        @media (width >= 768px) {
          height: 355px;
        }

        @media (width <= 768px) {
          height: 250px;
        }
      }
    }

    .right-section {
      margin-left: 10px;

      p {
        font-size: 14px;

        @media (width > 768px) {
          font-size: 16px;
        }
      }
    }
  }

  .values-section {
    h2 {
      font-size: 48px;
      color: white;
    }

    .values-row {
      .service-card {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        img {
          width: 60px;
          height: 60px;
          margin-bottom: 15px;
        }
        h5 {
          height: 48px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 0;

          @media (width >= 768px) {
            height: 36px;
            font-size: 16px;
          }

          @media (width >= 1024px) {
            font-size: 20px;
          }
        }
        p {
          height: 120px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 0;

          @media (width >= 768px) {
            height: 180px;
            font-size: 14px;
          }

          @media (width >= 1024px) {
            height: 80px;
            font-size: 16px;
          }
        }
      }

      .cta-button {
        cursor: pointer;
        text-decoration: none;
        background-color: #519259;
        color: white;
        padding: 20px 50px;
        border: 1px solid #519259;
        transition: border-radius 500ms ease-in-out;
        animation: animate 5s ease-in-out infinite;

        @keyframes animate {
          0% {
            border-radius: 8px;
          }
          50% {
            border-radius: 40px;
          }
          100% {
            border-radius: 60px;
          }
        }
      }
    }
  }

  .strategy-section {
    background-color: #ecfae5;

    .care-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 20px;

      @media (width >= 768px) {
        padding: 20px;
      }
    }

    .image-box {
      position: relative;
      max-width: 600px;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        border-radius: 10px;
      }

      .text-box {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: #2e6e59;
        color: white;
        padding: 15px 20px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .featured-home-section {
    background-color: #f0fdf4;

    .image-box {
      position: relative;
      max-width: 400px;
      margin: 10px;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        border-radius: 10px;
      }

      .text-box {
        position: absolute;
        bottom: 20px;
        left: 20px;
        background-color: #2e6e59;
        color: white;
        padding: 15px 20px;
        border-radius: 12px;
        font-size: 16px;
        font-weight: 500;
      }
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      border-radius: 50px;
      background-color: #2e6e59;
      padding: 25px;
      position: absolute;
    }

    .carousel-control-next-icon {
      right: 20px;
    }

    .carousel-control-prev-icon {
      left: 30px;
    }
  }

  .accreditation-section {
    text-align: center;

    .box-section {
      border-radius: 16px;
      backdrop-filter: blur(22px);
      background: rgba(255, 255, 255, 0.06);

      .icon-section {
        border-radius: 100%;
        background-color: aliceblue;
        padding: 20px;
        height: 90px;
        width: 120px;
        align-content: center;

        img {
          height: 45px;
          width: 80px;
        }
      }
    }
  }
}
