.our-approach-page {
  .hero-section-container {
    height: 70vh;
    overflow: hidden;
    background-size: cover;
    color: white;
    text-align: center;
    align-content: center;
    padding: 20px;

    &.hero-section-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url("/assets/images/role.jpg") no-repeat center;
      background-size: cover;
      transform: scaleX(-1);
      z-index: -1;
    }

    .hero-text {
      z-index: -1;

      h1 {
        font-size: 60px;
        font-weight: 600;
      }

      p {
        font-size: 18px;
      }
    }
  }

  .what-we-do-section {
    padding: 60px;
    background-color: #f9f3df;
    z-index: -1;

    h2 {
      font-size: 48px;
    }

    @media (width = 768px) {
      h5 {
        height: 48px;
        display: flex;
        align-items: center;
      }

      .p-design {
        display: flex;
        align-items: center;
        height: 168px;
        margin-bottom: 0;
      }
    }

    .custom-card {
      border-top: 4px solid #5cb85c;
      border-radius: 12px;
      padding: 20px;
      background: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .custom-card2 {
      border-top: 4px solid #f2645b;
    }

    .custom-card3 {
      border-top: 4px solid #f9a84d;
    }

    .icon-circle {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #dff6dd;
      border-radius: 50%;
      color: #5cb85c;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .icon-circle2 {
      background-color: #ffe7e3;
    }

    .icon-circle3 {
      background-color: #ffeedc;
    }
  }

  .contact-section {
    padding: 30px;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.06);

    .main-container {
      border-radius: 8px;
      backdrop-filter: blur(22px);
      background: rgba(255, 255, 255, 0.06);
      border: 2px solid white;
      padding: 60px 20px;

      h2 {
        font-size: 48px;
        font-weight: 600;
        line-height: 44px;
        color: white;
        padding-bottom: 10px;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);
      }

      p {
        color: white;
        padding-bottom: 10px;
      }

      button {
        border: none;
        padding: 10px;
        border-radius: 6px;
        color: #043927;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
