<main class="our-approach-page">
  <section class="hero-section">
    <h1 class="slide-in">What we do</h1>
  </section>
  <section class="what-we-do-section slide-in">
    <h2 class="text-center">Our Approach</h2>
    <p class="mb-5 text-center">
      We create environments where people can feel safe, respected, and
      supported, while being encouraged to grow and thrive. Our work is about
      more than care — it’s about helping each individual live with dignity,
      stability, and purpose. We provide residential care for adults (18+) with
      mental health challenges, substance misuse histories, and forensic
      backgrounds. We deliver residential children’s care for young people
      (10–18) with emotional, behavioural, and developmental needs. We offer
      supported living that promotes independence, life skills, and community
      connection for adults. Every service is personalised, responsive, and
      designed around the unique strengths, goals, and aspirations of the people
      we support.
    </p>
    <div class="row g-3">
      <div class="col-md-4">
        <div class="custom-card w-100">
          <div class="icon-circle">🏡</div>
          <h5 class="fw-bold">Children's Residential Care</h5>
          <p class="text-muted p-design">
            Safe, nurturing homes for young people with emotional, behavioural,
            and developmental needs.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-card custom-card2 w-100">
          <div class="icon-circle icon-circle2">🏠︎</div>
          <h5 class="fw-bold">Adult's Residential Care</h5>
          <p class="text-muted p-design">
            Supporting people with mental health needs, substance misuse
            histories, and forensic backgrounds.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="custom-card custom-card3 w-100">
          <div class="icon-circle icon-circle3">🤝</div>
          <h5 class="fw-bold">Supported Living</h5>
          <p class="text-muted p-design">
            Helping adults live independently with the right support.
          </p>
        </div>
      </div>
    </div>
  </section>
  <div class="contact-section">
    <div class="main-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="d-flex flex-column align-items-center">
              <div class="text-center">
                <h2>Contact Us</h2>
                <p>Stay in touch, keep with our latest trend and update!</p>
                <button>Contact Us</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
