.values-page {
  overflow: hidden;
  h2 {
    font-size: 48px;

    @media (width < 768px) {
      font-size: 30px;
    }
  }

  .hero-section-container {
    height: 44vh;
    margin-top: 99px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    align-items: center;

    @media (width <= 768px) {
      height: 50vh;
      margin-top: 20px;
    }

    &.hero-section-container::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("/assets/images/values/values.jpg") no-repeat center;
      background-size: cover;
      transform: scaleX(-1);
      z-index: -1;
    }

    .hero-text {
      padding: 0 20px;
      text-align: center;
      color: #ffff;
      z-index: -1;

      h1 {
        font-size: 60px;
        font-weight: 600;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);

        @media (width < 768px) {
          font-size: 40px;
        }
      }

      p {
        font-size: 18px;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5),
          0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 10px rgba(0, 0, 0, 0.1);

        @media (width < 425px) {
          font-size: 16px;
        }
      }
    }
  }

  .values-section {
    background-color: #fff;
    li,
    h3 {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.1em;
      letter-spacing: 0.3em;
      color: black;
    }

    h2 {
      font-weight: 400;
      line-height: 1.1em;
      color: black;
    }

    p {
      font-size: 14px;
      color: black;

      @media (width <= 1024px) {
        font-size: 12px;
      }
    }

    .img-container {
      width: 605px;
      height: 363px;

      img {
        border-radius: 20px;
        max-width: 100%;
        height: 100%;
        aspect-ratio: 1 / 0.59;
        object-fit: cover;
        transform: translate(0px, 0px);
      }
    }

    .service-card {
      background-color: #043927;
      padding: 20px;
      border-radius: 20px;
      text-align: left;
      height: 223px;

      img {
        margin-bottom: 20px;
        height: 44px;
        width: 44px;
        background-color: white;
        padding: 10px;
        border-radius: 16px;
      }

      h5,
      p {
        color: white;
      }
    }

    .service-card:hover {
      background-color: #fff;
      border: 3px solid #043927;
      transition: all 0.6s ease;

      h5,
      p {
        color: black;
      }

      img {
        transition: all 0.4s ease-out;
      }
    }
  }

  .contact-section {
    padding: 30px;

    .main-container {
      border-radius: 8px;
      backdrop-filter: blur(22px);
      background: rgba(255, 255, 255, 0.06);
      border: 2px solid white;
      padding: 60px 20px;

      h2 {
        font-size: 48px;
        font-weight: 600;
        line-height: 44px;
        background: linear-gradient(118deg, wheat 20%, brown 80%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 10px;
      }

      p {
        color: white;
        padding-bottom: 10px;
      }

      button {
        border: none;
        padding: 10px;
        border-radius: 6px;
        a {
          color: #043927;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }
  }
}
