.accreditation-section {
  text-align: center;
  background-color: beige;

  h2 {
    font-size: 48px;

    @media (width < 768px) {
      font-size: 36px;
    }
  }

  p {
    font-size: 16px;

    @media (width < 14px) {
      font-size: 36px;
    }
  }

  .bg-gradient-primary {
    background: linear-gradient(to right, #198754, #0d6efd, #e83e8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ofsted-section,
  .CQC-section {
    justify-items: center;
  }

  .box-section {
    border-radius: 16px;
    padding: 40px 0;
    backdrop-filter: blur(22px);
    background: rgba(255, 255, 255, 0.9);

    .icon-section {
      border-radius: 100%;
      background-color: aliceblue;
      padding: 20px;
      height: 90px;
      width: 120px;
      align-content: center;

      img {
        height: 45px;
        width: 80px;
      }
    }
  }
}
