<section class="accreditation-section p-4">
  <div
    class="d-inline-flex align-items-center gap-2 mb-4 bg-white bg-opacity-75 rounded-pill border border-success px-4 py-2"
  >
    <i class="bi bi-stars text-success"></i>
    <span class="fw-semibold text-success">Excellence Certified</span>
  </div>
  <h2 class="pb-3 fw-bolder text-dark">Trusted & Accredited</h2>
  <p class="pb-1 lead text-dark">
    Our commitment to excellence is demonstrated through rigorous accreditations
    and adherence to the highest standards in social care.
  </p>
  <div class="row d-flex flex-row g-4">
    <div
      class="ofsted-section"
      [ngClass]="isCQC ? 'col-md-6' : 'col'"
      *ngIf="isOfsted"
    >
      <div class="box-section d-flex flex-column align-items-center w-100">
        <div class="icon-section">
          <img src="assets/images/ofsted-bg.png" alt="Ofsted Image" />
        </div>
        <h2 class="fw-bold display-6 text-dark">Coming Soon! 🚀</h2>
        <p class="lead text-dark">Ofsted Registration is on the horizon</p>
      </div>
    </div>
    <div
      class="CQC-section"
      [ngClass]="isOfsted ? 'col-md-6' : 'col'"
      *ngIf="isCQC"
    >
      <div class="box-section d-flex flex-column align-items-center w-100">
        <div class="icon-section">
          <img src="assets/images/cqc.png" alt="CQC Image" />
        </div>
        <h2 class="fw-bold display-6 text-dark">Coming Soon! 🚀</h2>
        <p class="lead text-dark">CQC Registration is on the horizon</p>
      </div>
    </div>
  </div>
</section>
